In [8]:
#importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
file_name="C:\\Users\\hrast\\Downloads\\Cardiac_Outcomes.xlsx"

df_Hospitalization_Discharge=pd.read_excel(file_name,'Hospitalization_Discharge')
df_CardiacComplications=pd.read_excel(file_name,'CardiacComplications')
df_Responsivenes=pd.read_excel(file_name,'Responsivenes')
df_PatientHistory=pd.read_excel(file_name,'PatientHistory')
df_Labs=pd.read_excel(file_name,'Labs')
df_demo=pd.read_excel(file_name,'Demography')
df_Patient_Precriptions=pd.read_excel(file_name,'Patient_Precriptions')

60. Plot the Density Chart for visit times

61. np.arange(1,31).reshape(6,5) Find the array slicing to get the elements with values 11,12,16,17.

62. what % of all patients with an outcome of "Alive" died within 28 days. What was the mean platelet volume among this group?

In [23]:
alive_patients= df_Hospitalization_Discharge[df_Hospitalization_Discharge['outcome_during_hospitalization'] == 'Alive']
alive_patients

,inpatient_number,DestinationDischarge,admission_ward,admission_way,discharge_department,visit_times,respiratory_support,oxygen_inhalation,dischargeDay,Admission_date,...,death_within_28_days,re_admission_within_28_days,death_within_3_months,re_admission_within_3_months,death_within_6_months,re_admission_within_6_months,time_of_death__days_from_admission,readmission_time_days_from_admission,return_to_emergency_department_within_6_months,time_to_emergency_department_within_6_months
0,857781,Home,Cardiology,NonEmergency,Cardiology,1,None,OxygenTherapy,11,2017-01-24,...,0,0,0,0,0,0,NaN,NaN,0.0,NaN
1,743087,Home,Cardiology,NonEmergency,Cardiology,1,None,OxygenTherapy,8,2017-05-05,...,0,0,0,0,0,0,NaN,NaN,0.0,NaN
2,866418,Home,Cardiology,NonEmergency,Cardiology,2,None,OxygenTherapy,5,2016-11-18,...,0,0,0,0,0,0,NaN,NaN,0.0,NaN
3,775928,Home,Cardiology,Emergency,Cardiology,1,None,OxygenTherapy,11,2017-10-02,...,0,1,0,1,0,1,NaN,19.0,1.0,19.0
4,810128,Home,Cardiology,NonEmergency,Cardiology,1,None,OxygenTherapy,5,2019-11-17,...,0,0,0,0,0,0,NaN,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2003,740689,HealthcareFacility,GeneralWard,Emergency,GeneralWard,1,None,OxygenTherapy,5,2016-02-07,...,0,0,0,0,0,0,NaN,NaN,0.0,NaN
2004,734280,HealthcareFacility,GeneralWard,Emergency,GeneralWard,1,None,OxygenTherapy,8,2017-03-29,...,0,0,0,0,0,0,NaN,NaN,0.0,NaN
2005,781004,HealthcareFacility,Cardiology,Emergency,Cardiology,1,None,OxygenTherapy,14,2018-01-22,...,0,0,0,1,0,1,NaN,76.0,1.0,76.0
2006,744870,Unknown,Cardiology,NonEmergency,Cardiology,1,IMV,OxygenTherapy,1,2019-11-27,...,1,0,1,0,1,0,1.0,NaN,0.0,NaN
2007,791864,Home,Cardiology,Emergency,Cardiology,1,None,OxygenTherapy,6,2017-02-17,...,0,0,0,0,0,0,NaN,NaN,0.0,NaN

In [30]:
patients_died_within28days=alive_patients[alive_patients['death_within_28_days'] == '1']
patients_died_within28days
a = len(patients_died_within28days)/len(df_Hospitalization_Discharge) 
percentage_died_within_28_days =a * 100
print(f"Percentage of 'Alive' patients who died within 28 days: {percentage_died_within_28_days:.2f}%")

Percentage of 'Alive' patients who died within 28 days: 0.00%

In [31]:
mean_platelet_volume = alive_patients[patients_died_within28days]['mean_platelet_volume'].mean()

KeyError: 'mean_platelet_volume'

63. find the patients who have 'h' in their DestinationDischarge and print them

In [39]:
patients_with_h= df_Hospitalization_Discharge['DestinationDischarge'].str.contains('h', case=False, na=False)
patients_with_h

0        True
1        True
2        True
3        True
4        True
        ...
2003     True
2004     True
2005     True
2006    False
2007     True
Name: DestinationDischarge, Length: 2008, dtype: bool

In [41]:
# Print the patients
print(patients_with_h)

0        True
1        True
2        True
3        True
4        True
        ...
2003     True
2004     True
2005     True
2006    False
2007     True
Name: DestinationDischarge, Length: 2008, dtype: bool